{
  "root": true,
  "extends": "airbnb-base/legacy",
  "env": {
    "node": true
  },
  "globals": {
    "Promise": false
  },
  "rules": {
    "func-names": 0,
    "global-require": 0,
    "vars-on-top": 0,
    "max-len": ["error", 150],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}
